services:

  reverse-proxy:
    image: haproxy:2.4
    restart: always
    networks:
        - backend
    ports:
    - "8080:8080"
    - "1936:1936"
    configs:
    - source: haproxy_config
      target: /usr/local/etc/haproxy/haproxy.cfg

  ingress-proxy:
    image: nginx:latest
    restart: always
    networks:
      - backend
    ports:
      - "8090:8090"
    configs:
      - source: nginx_default_config
        target: /etc/nginx/conf.d/default.conf
      - source: nginx_config
        target: /etc/nginx/nginx.conf
  db:
    image: mysql:8.0
    restart: "on-failure"
    command: 
      - --default-authentication-plugin=mysql_native_password
      # КРИТИЧЕСКИ ВАЖНО для отключения SSL:
      - --ssl=0
      - --require-secure-transport=OFF
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - backend
    deploy:
      placement:
        constraints:
          - node.role == manager
      replicas: 1

  web:
    image: cr.yandex/crpbong86ncpuv4ibhr6/mainpy:latest
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_NAME: ${MYSQL_DATABASE}
    networks:
      - backend
    ports:
      - "5000:5000"

networks:
  backend:
    driver: overlay
    attachable: true

configs:
  haproxy_config:
    file: ./haproxy/reverse/haproxy.cfg
  nginx_config:
    file: ./nginx/ingress/nginx.conf
  nginx_default_config:
    file: ./nginx/ingress/default.conf