include:
  - proxy.yaml
services:
  
  db:
    image: mysql:8.0
    restart: "on-failure"
    command: --default-authentication-plugin=mysql_native_password
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    # healthcheck:
    #   test: ["CMD", "mysql", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}", "-e", "use virtd"]
    #   interval: 5s
    #   timeout: 5s
    #   retries: 5
    #   start_period: 30s
    networks:
      backend:
        ipv4_address: 172.20.0.10

  web:
    # build: 
    #   context: .
    #   dockerfile: Dockerfile.python
    image: cr.yandex/crpbong86ncpuv4ibhr6/mainpy:latest
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_HOST: "172.20.0.10"
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_NAME: ${MYSQL_DATABASE}
    networks:
      backend:
        ipv4_address: 172.20.0.5